* {
	box-sizing: border-box;
}

html,
body,
#root {
	min-height: 100svh;
}

html {
	scroll-behavior: smooth;
	background-color: var(--bg-global);
}

body {
	font-family: 'Exo 2', 'Arial Unicode MS', sans-serif;
	color: var(--color-primary);
	background: url('../assets/icons/system/noise.svg');
	background-repeat: repeat;
}

@media (hover: hover) and (pointer: fine) {
	html {
		scrollbar-gutter: stable;
	}

	html,
	body {
		scrollbar-width: thin;
		scrollbar-color: var(--bg-primary) var(--bg-tertiary);
	}

	html::-webkit-scrollbar,
	body::-webkit-scrollbar {
		width: 12px;
	}

	html::-webkit-scrollbar-thumb,
	body::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background-color: var(--bg-primary);
	}

	html::-webkit-scrollbar-track,
	body::-webkit-scrollbar-track {
		border-radius: 6px;
		background-color: var(--bg-tertiary);
	}
}
