.hide-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Стили для числовых инпутов */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--color-primary);
	-webkit-box-shadow: 0 0 0px 40rem var(--bg-primary) inset;
	background-color: #080807 !important;
	transition: background-color 5000s ease-in-out 0s;
}

/* Стили для радио инпутов */
label.group:hover input[type='radio']:not(:checked) {
	border-color: var(--accent-default);
}

label.group:hover input[type='radio']:checked {
	border-color: transparent;
}

input[type='radio']:checked {
	background-color: var(--accent-default);
	border-color: transparent;
}
