.dark-theme {
	/* Текст */
	--color-primary: #d7d7d7;
	--color-secondary: #a0a0a0;
	--color-disabled: #666666;

	/* Акцентные цвета */
	--accent-default: #e18127;
	--accent-default-op: #e1812780;
	--accent-hover: #e15300;
	--accent-hover-op: #e1530080;
	--accent-active: #7d6fe4;
	--accent-disabled: #e0b9a3;
	--accent-text: #ffffff;
	--accent-text-disabled: #8b5c49;
	--warning-default: #b51111;
	--warning-hover: #8d0404;

	/* Фоны */
	/* --bg-primary: #19191a; */
	--bg-primary: #191820;
	/* --bg-secondary: #222224; */
	--bg-secondary: rgba(250, 250, 250, 0.05);
	/* --bg-tertiary: #39393a; */
	--bg-tertiary: rgba(250, 250, 250, 0.09);
	--bg-tertiary-op: #39393a80;
	--bg-overlay: rgba(0, 0, 0, 0.7);

	/* Статусные цвета */
	--status-success: #2a8d30;
	--status-error: #ff2828;
	--status-warning: #ffa515;
	--status-info: #2c90c7;

	/* Разделители и бордеры */
	/* --border-color: #39393a; */
	--border-color: rgba(250, 250, 250, 0.15);
	--border-color-op: #39393a80;
	--border-alt: #a0a0a0;
	--border-light: transparent;

	/* Тени */
	--shadow: none;
}

.light-theme {
	/* Текст */
	--color-primary: #2f3441;
	--color-secondary: #1d1c1c;
	--color-disabled: #666666;

	/* Акцентные цвета */
	--accent-default: #7d6fe4;
	--accent-default-op: #7d6fe480;
	--accent-hover: #6457c5;
	--accent-hover-op: #6457c580;
	--accent-active: #f77e0d;
	--accent-disabled: #e0b9a3;
	--accent-text: #ffffff;
	--accent-text-disabled: #8b5c49;
	--warning-default: #b51111;
	--warning-hover: #8d0404;

	/* Фоны */
	--bg-primary: #e7e7e7;
	--bg-secondary: #f1f1f1;
	--bg-tertiary: #f8f7f7;
	--bg-tertiary-op: #efefef;
	--bg-overlay: rgba(0, 0, 0, 0.7);

	/* Статусные цвета */
	--status-success: #31ad3f;
	--status-error: #ff2f2f;
	--status-warning: #ffa509;
	--status-info: #31b7ff;

	/* Разделители и бордеры */
	--border-color: #d4d7df;
	--border-color-op: #d4d7df80;
	--border-alt: #e3e3e3;
	--border-light: #d4d7df;

	/* Тени */
	--shadow: 0 1px 2px 0px rgb(40 66 75 / 22%);
}
